################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gdl90_2_g496
/Debug
/Release
/__vm
